.card {

  width: 100%;        /* Fill the space provided by the grid */
  max-width: 280px;   /* But don't get too giant on desktop */
  min-height: 396px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.imageContainer {
  
  width: 100%;
  height: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  font-family:'Courier New', Courier, monospace;
  align-items: center;
  margin: 0 auto;
}

.verifiedBadge {
  position: absolute;
  top: 7px;
  left: 7px;
}

.image {
  width: 100%;
  height: 100%;

  display: block; /* Removes the "ghost" gap at the bottom */
  object-fit: cover;
  margin: 0 auto;
  
}



.priceCityCon {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
  width: 100%;
 
}



.mappin {
  width: 14px;
  height: 14px;
}

.cityCon {
  display: flex;
  align-items: center;      /* Aligns the MapPin and the City text */
  gap: 5px;
}

.name {
     font-family: 'Graphik', sans-serif;
   font-weight: 500;
   font-size: 18px;
   line-height: 1.2;
   margin-top: 0.7rem ;
   margin-bottom: 0.7em;
   letter-spacing: -0.03em;
   color: #000000;
}

.cityCon {
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.city {
   font-family: 'Graphik', sans-serif;
   font-weight: 400;
  height: 15px;
   font-size: 15px;
 
   line-height: 1.1;
   letter-spacing: -0.04em;
   color: #141414;
}


.priceLabel {
  font-family: 'Graphik', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #797979;
}

.priceAmount {
   font-family: 'Graphik', sans-serif;
   font-weight: 400;
   font-size: 15px;
   line-height: 1.1;
   letter-spacing: -0.04em;
}

.priceContainer {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  margin-top: 0.8rem;
}


.category {
  border-radius: 20px;
  width: fit-content;
  min-height: 19px;
  margin-top: 1rem;
  padding: 2px 8px;
  background-color:#303AFC12;
  font-family:'Graphik', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
   letter-spacing: 0.03em;
  color: #000674;
}


