.button {
  max-width: 200px;
  width: 100%;
  min-height: 34px;
  border-radius: 40px;
  padding: 10px 26px;
  background-color: #0059FF;
  font-family: 'Graphik', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #FFFFFF;
}